.footer {
    height: 50vh;
    background: linear-gradient(#543754, #955a95, #f044f0);
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
    padding: 0 0 5rem;
    color: white;
}
.footer .social-media {
    margin: 2rem 2rem;
    /* border-right: 2px solid #fff; */
}
.footer .social-media2 {
    margin: 2rem 2rem;
    border-right: none;
}

.social-media ul, .social-media2 ul{
    list-style: none;
}
.social-media ul li, .social-media2 ul li{
    padding: 0.75rem 1rem;
}
.footer .map {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
}
@media only screen and (max-width: 500px) {
    .footer {
        display: flex;
        justify-content: space-around !important;
        align-items: center;
        height: auto;
    }
    /* .footer .social-media {
        border-right: none;
        border-bottom: 2px solid #9e499e;
        width: 15rem;
    } */
    .footer .map {
    display: flex;
    flex-direction: column;
    text-align: center;
}

} 