.home {
  overflow-x: hidden;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.home .bg-image {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .home .bg-image::before {
  content: "";
  background-image: url("https://w0.peakpx.com/wallpaper/8/439/HD-wallpaper-smiley-brown-hair-glowing-eyes-kira-light-yagami-with-handlock-and-red-eyes-ryuk-with-apple-death-note-anime.jpg");
  background-size: cover;
  position: absolute;
  top: 0rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(20%);
} */

.home .content {
  text-align: center;
  /* padding: 8rem auto; */
  position: absolute;
  top: 70%;
  left: 20%;
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.25;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-bottom: 3rem;
  z-index: 10000;
  overflow: hidden;
}

.home .content h1 {
  font-size: 4rem;
  margin: 1.5rem 0;
}

.home .content p {
  font-size: 1.5rem;
  opacity: 0.5;
  line-height: 2.3rem;
  margin-bottom: 1.2rem;
}

.car-ousel {
  margin: 0 auto;
  /* z-index: 10; */
  /* position:absolute ; */
  margin: 0% 33%;
}

.home .content button {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  width: 15rem;
  background: transparent;
  color: white;
  border: #ffffff 2px solid;
  border-radius: 100px;
  transition: all 300ms;
}


button:focus,
button:active {
  outline: none;
  cursor: pointer;
}

.home .content button:hover {
  background: rgb(222, 78, 222);
}

.banner img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* top: -5%; */
  left: 0;
  overflow-y: hidden;
}

section#info {
  /* background:rgb(245, 193, 245) !important; */
  background: linear-gradient(#aa67aa, white);
}

section#info .main-info {
  display: flex;
  justify-content: space-between;
}

section#info .main-info h1 {
  padding: 5%;
  width: 100%;
}

section#info .main-info div {
  box-sizing: border-box;
  padding: 0 5%;
  width: 50%;
  margin: 5%;
  border-left: 2px solid #7d1f90;
  color: #4f065dc9;
}

section#activities {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10%;
}

section#activities div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#activities div img {
  width: 200%;
  padding: 23px 0;
}

section#activities p {
  padding: 0 auto;
  color: white;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1111px) {
  section#info {
    height: 130vh !important;
  }
}

@media only screen and (max-width: 750px) {
  .home .content {
    text-align: center;
    margin: 8rem auto;
    /* position: absolute; */
    color: #ffffff;
    font-size: 3rem;
    line-height: 1.25;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    /* z-index: 10000; */
    overflow: hidden;
  }
  
  .home .content {
    /* margin: 0rem 2rem; */
  }

  .home .content h1 {
    margin-top: 0;
    font-size: 3rem;
  }
  
  .home .content p {
    font-size: 1rem;
    /* margin: 0; */
  }
  
  .home .content {
    font-size: 1.5rem;
    margin: 5rem auto;
    margin-bottom: 1.5rem;
    overflow: hidden;
  }
  
  .home .bg-image::before {
    background-image: url('https://is.zobj.net/image-server/v1/images?r=5pQYsefpAIpi0dzwlTqQvmrWMTXcGyIt-VpihRYARp5iv_9mppvfAITUJ0qMSAp6rwM80ZLmQ7B2bU-XUcSapSoVNcOD1ZqB1i296AZdbrv1UdZKFVOlCcBR-IQaAaj1U92yYrnkKBFaz_1qS_VvSWb_lAYJeht_KTzmmyp4dG6I1WRIaioYhKLNd-KbsMYfnHODYjEJTRm0mB3FLbPn0CSZ480vzWzVB-gFf7T7wESUFIVTSyKr8fvVznY');
    background-position: 50% top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
  }
  
  section#info .main-info {
    flex-direction: column;
  }
  
  section#info .main-info div {
    border-left: none;
    border-top: 2px solid #7d1f90 !important;
    padding: 5%;
    width: 80%;
  }
  
  section#activities {
    background: linear-gradient(white, #aa67aa);
    padding: 10% 0;
    display: flex;
    flex-direction: column;
  }
  
  section#activities div {
    padding: 7%;
  }
  
  .car-ousel {
    margin: 0% 10%;
  }
}

@media only screen and (max-width: 600px) {
  .home .content button {
    font-size: 1.25rem;
    width: 100%;
    background: rgb(61, 134, 128);
    font-weight: bolder;
    color: white;
    border: black 2px white;
    /* padding: 1rem 1rem; */
  }
  
  .home .content {
    left: calc(35% - 0.75 * 2rem);
  }
  
  section#activities {
    background: linear-gradient(white, #475e76) !important;
  }
  section#info {
    /* background:rgb(245, 193, 245) !important; */
    background: linear-gradient(#475e76, white);
  }
  section#info .main-info h1, section#info .main-info div{
    /* background:rgb(245, 193, 245) !important; */
    color: white;
  }
}

@media only screen and (max-width: 375px) {
  
  .home .content {
    /* margin: 3rem 2rem; */
  }

  .home .content h1 {
    /* font-size: 1.5rem; */
  }
  
  .home .bg-image::before {
    background-image: url('https://is.zobj.net/image-server/v1/images?r=5pQYsefpAIpi0dzwlTqQvmrWMTXcGyIt-VpihRYARp5iv_9mppvfAITUJ0qMSAp6rwM80ZLmQ7B2bU-XUcSapSoVNcOD1ZqB1i296AZdbrv1UdZKFVOlCcBR-IQaAaj1U92yYrnkKBFaz_1qS_VvSWb_lAYJeht_KTzmmyp4dG6I1WRIaioYhKLNd-KbsMYfnHODYjEJTRm0mB3FLbPn0CSZ480vzWzVB-gFf7T7wESUFIVTSyKr8fvVznY');
    background-position: 50% top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 125% auto;
  }
}